<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width= device-width, initial-scale = 1.0">
		<title>Login</title>
		<link rel="stylesheet" herf={{ "url_for('static', filename='style.css')" }}>
	</head>
	<body>
		<h1>Login</h1>
		<form method= "post">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required><br>
			<input type="submit" value="login">
		</form>
		<p>Not yet Registered? <a href="{{ url_for('register') }}">Register here</a></p>
	</body>
</html>
