<!DOCTYPE html>
<html>
<head>
    <title>KE-338 | fogotten password</title>
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body  style="background-image: url('static/images/fotgot.jpeg');">
    <div class="main" style="background-color: #131430">  
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <form method="POST">
                <label for="chk" aria-hidden="true">Forgotten_Password</label>
                <input type="number" name="ben_number" placeholder="Beneficiary Number" required>
				<input type="email" name="email" placeholder="Email" required>
				<button type="submit" name="login">Get Email</button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>