<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KE-338 | Letters</title>
    
    <!-- Favicon link -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
	<link href="static/css/letters.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap">
</head>
<body>
    <header>
        <h1>Beneficiaries With Letters</h1>
    </header>

    <main style="font-style: sevvilla">
        <p>
			This is a sample webpage with a favicon and some basic content.
		</p>
    </main>

    <footer>
        <p>&copy; 2024 Wiriama</p>
    </footer>
</body>
</html>
